name: Gradle Template CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: gradle-template

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: graalvm
          java-version: 22

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Run
        run: ./gradlew run
